<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
  <div class="jumbotron">
    <div class="col-12 text-white text-center">
      <h1 class="display-4">Welcome to TalkSync</h1>
      <p class="lead">Stay Connected, Stay Synced: Introducing TalkSync</p>
      <p class="lead">
        <button class="btn btn-primary btn-lg border-1 border-black" (click)="signInWithGoogle()">
          {{isLoading?'Signing you in':'Continue with Google'}}
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>







      </p>
    </div>
  </div>

  <div class="backdrop" *ngIf="showError" (click)="closeError()"></div>
  <app-error *ngIf="showError" [errorMessage]="errorMsg" (okButtonClick)="closeError()"></app-error>
</div>